<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.orion"
    android:versionCode="518"
    android:versionName="V1.1.36_R20250828">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="com.android.orion.application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_orion"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.android.orion.activity.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.orion.activity.BaseActivity" />
        <activity android:name="com.android.orion.activity.DatabaseActivity" />
        <activity
            android:name="com.android.orion.activity.SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockSearchActivity"
            android:label="@string/search"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.android.orion.activity.StockActivity"
            android:label="@string/stock_edit"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockFavoriteListActivity"
            android:label="@string/favorite_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockListActivity"
            android:label="@string/list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockDealListActivity"
            android:label="@string/deal_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockDealActivity"
            android:label="@string/deal"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockFavoriteChartListActivity"
            android:label="@string/stock_data_chart"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockFinancialListActivity"
            android:label="@string/financial_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockFinancialChartListActivity"
            android:label="@string/stock_financial_chart"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockTrendListActivity"
            android:label="@string/trend_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockPerceptronListActivity"
            android:label="@string/trend_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockTrendChartListActivity"
            android:label="@string/stock_trend_chart"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockStatisticsChartListActivity"
            android:label="@string/stock_statistics_chart"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.StockFilterActivity"
            android:label="@string/filter"
            android:launchMode="singleTask" />
        <activity
            android:name="com.android.orion.activity.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTask" />

        <provider
            android:name="com.android.orion.provider.StockContentProvider"
            android:authorities="com.android.orion"
            android:exported="false" />
        <provider
            android:name="com.android.orion.provider.StockSearchRecentSuggestionsProvider"
            android:authorities="com.android.orion.StockSearchRecentSuggestionsProvider"
            android:exported="false" />

        <receiver android:name="com.android.orion.receiver.DownloadBroadcastReceiver" />
        <receiver
            android:name="com.android.orion.receiver.ReceiverConnection"
            android:exported="false" />
        <service
            android:name="com.android.orion.service.StockService"
            android:exported="false" />
    </application>

</manifest>